
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách điểm rèn luyện</h1>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                }
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Họ tên</th>
                            <th>Lớp tài chính </th>
                            <th>Điểm rèn luyện</th>
                            <th>Học kỳ</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Họ tên</th>
                            <th>Lớp tài chính </th>
                            <th>Điểm rèn luyện</th>
                            <th>Học kỳ</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var idModelDel = "exampleModalDel" + item.IdDiemRenLuyen;
                            var idEx1 = "exampleModalLabel" + item.IdDiemRenLuyen;
                        <tr>
                            <td>@item.SinhVien.MaSinhVien</td>
                            <td>@item.SinhVien.HoTen</td>
                            <td>@item.SinhVien.LopTaiChinh.TenLop</td>
                            <td>@item.TongDiem</td>
                            <td>
                                @if (item.HocKy == 1)
                                {
                                    <span>I</span>
                                }
                                else if (item.HocKy == 2)
                                {
                                    <span>II</span>
                                }
                                else if (item.HocKy == 3)
                                {
                                    <span>III</span>
                                }
                            </td>
                            <td>
                                <a style="width:150px" class="btn btn-warning" href="">
                                    Xem bảng điểm
                                </a>
                                <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#@idEx1">
                                    Sửa
                                </button>

                                <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>

                                <div class="modal fade" id="@idModelDel" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                Điểm rèn luyện của sinh viên : @item.SinhVien.HoTen
                                                <form action="/DiemRenLuyen/Delete/@item.IdDiemRenLuyen" method="post">
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button style="width:100px" type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>

                                                    </div>

                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            <!-- Modal Update-->
                            <div class="modal fade" id="@idEx1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" action="/DiemRenLuyen/Update" method="post">
                                                <div class="mb-3">
                                                    <input type="hidden" class="form-control" id="tenphim" name="IdDiemRenLuyen" tabindex="1" value="@item.IdDiemRenLuyen">
                                                    <label for="category-film" class="col-form-label">Mã sinh viên: </label>
                                                    <input type="text" class="form-control" id="tenphim" name="MaSinhVien" tabindex="1" value="@item.SinhVien.MaSinhVien" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film" class="col-form-label">Họ Tên: </label>
                                                    <input type="text" class="form-control" id="tenphim" name="HoTen" tabindex="1" value="@item.SinhVien.HoTen" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film" class="col-form-label">Lớp tài chính: </label>
                                                    <input type="text" class="form-control" id="tenphim" name="idloptaichinh" tabindex="1" value="@item.SinhVien.LopTaiChinh.TenLop" readonly>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film" class="col-form-label">Điểm rèn luyện: </label>
                                                    <input type="number" class="form-control" id="tenphim" name="TongDiem" tabindex="1" value="@item.TongDiem" >
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category-film" class="col-form-label">Học kỳ: </label>
                                                    <input type="text" class="form-control" id="tenphim" name="hocky" tabindex="1" value="@item.HocKy" readonly>
                                                </div>
                                                <div class="modal-footer">
                                                    <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button style="width:100px" type="submit" class="btn btn-primary">Lưu </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal Update-->
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>

