@model List<QuanLyRenLuyen.Models.ChamDiemRenLuyen>
@{
    ViewBag.Title = "XemDiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @if (ViewBag.Diem == null)
    {
        <div class="container-fluid px-4">
            <h2 class="mt-4">Sinh Viên chưa đánh giá cho học kỳ @ViewBag.IdHocKy</h2>
        </div>
    }
    else
    {
<div class="container-fluid px-4">
    <h2 class="mt-4">Chi tiết đánh giá rèn luyện của sinh viên @ViewBag.Diem.SinhVien.HoTen học kỳ @ViewBag.Diem.IdHocKy</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tiêu chí</th>
                <th>Số điểm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.TieuChi</td>
                <td>@item.Diem</td>
            </tr>
            }
        </tbody>
    </table>
    <span style="font-weight:bold;font-size:20px">Tổng điểm: </span> <span style="font-size: 20px">@ViewBag.Diem.TongDiem điểm</span>
</div>
    }

</main>

